.row{
    padding: 20px;

}
div{
    background:transparent;
}

h1, h3{
    display:inline;
}
.container{
    background-image: url(../../../assets/editexplaboral.jpg);
    background-repeat: no-repeat;
    background-size:200%;
}