<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/babylabel/"><img src="../../../assets/icons/facebook.png" id="facebook"></a>
            <a href="https://github.com/JoseCabrera2022?tab=repositories"><img src="../../../assets/icons/github.png" id="github"></a>
            <a href="https://wa.me/5493816621016"><img src="../../../assets/icons/wh.png" id="github"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INICIAR SESSION</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESSION</button>
        </div>

    </div>

</div>

